<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @world.description %>
</p>

<p>
  <b>Author name:</b>
  <%= @world.author_name %>
</p>

<p>
  <b>Author email:</b>
  <%= @world.author_email %>
</p>

<p>
  <b>Name:</b>
  <%= @world.name %>
</p>

<p>
  <b>Is Default:</b>
  <%= @world.is_default %>
</p>


<%= link_to 'Edit', edit_world_path(@world) %> |
<%= link_to 'Back', worlds_path %>
