<!DOCTYPE html>
<html>
<head>
  <title>Acs</title>
  <%= stylesheet_link_tag    "application", :media => "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="global_container">
    <div id="flash_container">
      <% flash.keys.each do |msg_type| %>
        <div class="<%= msg_type %>,flash_<%= msg_type %>"><%= flash[msg_type] %></div>
      <% end %>
    </div>

    <%= yield %>

  </div>
</body>
</html>
